.number-container{
    width: 100%;
    min-height: 233px;
    padding: 0;
    position: relative;
    text-align: center;
    display: inline-block;
}
.button-block {
    height: 89px;
    width: 89px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(87, 87, 87, 0.6) !important;
    font-size: 2rem !important;
}
.description {
    margin: 34px 21px;
    font-size: 21px;
    font-style: oblique;
}