@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container-page{
    margin: 20px 0px;
}
.header{
    position: relative;
    padding: 0px !important;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}
.number {
    border-radius: 2px;
    padding: 0px !important;
    background-color: white;
    border-radius: 10px;
}