.nav-container {
    height: 89px;
}
.nav-brand {
    color: #f53b57 !important;
    font-size: 34px !important;
    font-weight: 500;
    align-self: flex-end;
}
.nav-link-right {
    align-self: flex-end;
}