@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.body{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.header{
    position: relative;
    height: 70px;
    border-radius: 2px;
    padding: 0px !important;
    background-color: rgba(255, 255, 128, .5);;
}
.header span {
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
    font-size: 40px;
}
.number {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0px !important;
}