body {
  margin: 0 !important;
  font-family: 'Lato', 'Oxygen', 'Ubuntu', 'Cantarell', 
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 800 !important;
  background-color: #d2dae2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
